<!DOCTYPE html> 
{% load static %} 
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <h1>News List</h1>
    <li>
        <a href="www.google.com">th.Feed</a>
      <h2>th.Feed</h2>
      {% if news_list %}
      {% for news in news_list %}
      <ul>
      <div class="columnnews">
      <div class="demo-title"></div>
        <div class="post-module hover">
          <div class="thumbnail">
              <img class="img-top" src="{{news.image_url}}"/>
          </div> <!-- Thumbnail-->
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">{{news.category}}</div>
            <h1 class="title"><a style='color:black;' href="{{news.url}}">{{news.title}}</a ></h1>
            <!-- <h2 class="sub_title">The city that never sleeps.</h2>-->
            <p class="description"></p >
            <div class="post-meta"><span class="timestamp"> 6 mins ago </span><span class="comments">
            <a href="{{news.url}}"> 0 comments</a ></span></div>
          </div> <!-- Post Content-->
        </div> <!-- Post module hover-->
      </div> <!-- Columnnews-->
      </ul>
      {% endfor %}
      {% endif %}
    </li>

  </body>
</html>